include
graft maintenance_accounting/static
graft maintenance_accounting/templates
graft maintenance_accounting/migrations
graft maintenance_accounting/models
graft maintenance_accounting/rest
graft maintenance_accounting/service
graft maintenance_accounting/sql
graft maintenance_accounting/views

global-exclude *.pyc